    /**********File Inputs**********/
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile+label {
        max-width: 80%;
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
    }

    .inputfile+label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }

    .iborrainputfile {
        font-size: 16px;
        font-weight: normal;
        font-family: 'Lato';
    }

    /* style 1 */

    .inputfile-1+label {
        color: #fff;
        background-color: green;
    }

    .inputfile-1:focus+label,
    .inputfile-1.has-focus+label,
    .inputfile-1+label:hover {
        background-color: black;
    }

    /* style 2 */

    .inputfile-2+label {
        color: green;
        border: 2px solid currentColor;
    }

    .inputfile-2:focus+label,
    .inputfile-2.has-focus+label,
    .inputfile-2+label:hover {
        color: black;
    }

    /* style 3 */

    .inputfile-3+label {
        color: #fff;
    }

    .inputfile-3:focus+label,
    .inputfile-3.has-focus+label,
    .inputfile-3+label:hover {
        color: green;
    }

    /* style 4 */

    .inputfile-4+label {
        color: #fff;
    }

    .inputfile-4:focus+label,
    .inputfile-4.has-focus+label,
    .inputfile-4+label:hover {
        color: green;
    }

    /* style 5 */

    .inputfile-5+label {
        color: green;
    }

    .inputfile-5:focus+label,
    .inputfile-5.has-focus+label,
    .inputfile-5+label:hover {
        color: black;
    }

    .inputfile-5+label figure {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: green;
        display: block;
        padding: 20px;
        margin: 0 auto 10px;
    }

    .inputfile-5:focus+label figure,
    .inputfile-5.has-focus+label figure,
    .inputfile-5+label:hover figure {
        background-color: black;
    }

    .inputfile-5+label svg {
        width: 100%;
        height: 100%;
        fill: #fff;
    }

    /* style 6 */

    .inputfile-6+label {
        color: green;
    }

    .inputfile-6:focus+label,
    .inputfile-6.has-focus+label,
    .inputfile-6+label:hover {
        color: black;
    }

    .inputfile-6+label figure {
        width: 100px;
        height: 135px;
        background-color: green;
        display: block;
        position: relative;
        padding: 30px;
        margin: 0 auto 10px;
    }

    .inputfile-6:focus+label figure,
    .inputfile-6.has-focus+label figure,
    .inputfile-6+label:hover figure {
        background-color: black;
    }

    .inputfile-6+label figure::before,
    .inputfile-6+label figure::after {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
    }

    .inputfile-6+label figure::before {
        border-top: 20px solid #282828;
        border-left: 20px solid transparent;
    }

    .inputfile-6+label figure::after {
        border-bottom: 20px solid black;
        border-right: 20px solid transparent;
    }

    .inputfile-6:focus+label figure::after,
    .inputfile-6.has-focus+label figure::after,
    .inputfile-6+label:hover figure::after {
        border-bottom-color: green;
    }

    .inputfile-6+label svg {
        width: 100%;
        height: 100%;
        fill: #fff;
    }

    /* style 7 */

    .inputfile-7+label {
        color: green;
    }

    .inputfile-7+label {
        border: 1px solid green;
        font-size: 1rem;
        background-color: #fff;
        padding: 0;
    }

    .inputfile-7:focus+label,
    .inputfile-7.has-focus+label,
    .inputfile-7+label:hover {
        border-color: black;
    }

    .inputfile-7+label span,
    .inputfile-7+label strong {
        padding: 0.625rem 1.25rem;
    }

    .inputfile-7+label span {
        width: 200px;
        min-height: 1em;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
    }

    .inputfile-7+label strong {
        height: 100%;
        color: #fff;
        background-color: green;
        display: inline-block;
    }

    .inputfile-7:focus+label strong,
    .inputfile-7.has-focus+label strong,
    .inputfile-7+label:hover strong {
        background-color: black;
    }

    @media screen and (max-width: 50em) {
        .inputfile-7+label strong {
            display: block;
        }
    }

    /**********End File Inputs**********/