#cuidadoroculto {
    display: none;
}

#cuidadoroculto2 {
    display: none;
}

.item-carrousel {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#button1 {
    display: none;
}

#button1+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#button1:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;


}

#button2 {
    display: none;
}

#button2+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#button2:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}


#button3 {
    display: none;
}

#button3+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#button3:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;


}

#button4 {
    display: none;
}

#button4+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#button4:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}




#asegurado1 {
    display: none;
}

#asegurado1+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#asegurado1:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;


}

#asegurado2 {
    display: none;
}

#asegurado2+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#asegurado2:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}



#asegurado3 {
    display: none;
}

#asegurado3+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#asegurado3:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}





#Noasegurado1 {
    display: none;
}

#Noasegurado1+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#Noasegurado1:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;


}

#Noasegurado2 {
    display: none;
}

#Noasegurado2+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#Noasegurado2:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}



#Noasegurado3 {
    display: none;
}

#Noasegurado3+label:before {
    content: "\f0c8";
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #221F1F;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}

#Noasegurado3:checked+label:before {
    content: "\f0c8";
    color: #221F1F;
    background: #221F1F;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-inline: 1px;
    font-size: 25px;
    cursor: pointer;
}
