    #button_claimed_medication1 {
        display: none;
    }

    #button_claimed_medication1+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_claimed_medication1:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;


    }

    #button_claimed_medication2 {
        display: none;
    }

    #button_claimed_medication2+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_claimed_medication2:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_answered_call1 {
        display: none;
    }

    #button_answered_call1+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_answered_call1:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_answered_call2 {
        display: none;
    }

    #button_answered_call2+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_answered_call2:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_difficulty_access1 {
        display: none;
    }

    #button_difficulty_access1+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_difficulty_access1:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_difficulty_access2 {
        display: none;
    }

    #button_difficulty_access2+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_difficulty_access2:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_generate_request1 {
        display: none;
    }

    #button_generate_request1+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_generate_request1:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_generate_request2 {
        display: none;
    }

    #button_generate_request2+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_generate_request2:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_adverse_event1 {
        display: none;
    }

    #button_adverse_event1+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_adverse_event1:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_adverse_event2 {
        display: none;
    }

    #button_adverse_event2+label:before {
        content: "\f0c8";
        color: #fff;
        background-color: #fff;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    #button_adverse_event2:checked+label:before {
        content: "\f0c8";
        color: #EF5630;
        background: #EF5630;
        border: 1px solid #EF5630;
        box-sizing: border-box;
        padding-inline: 5px;
        font-size: 25px;
        cursor: pointer;
    }

    .title_tracking->patient_cordi {
        color: #EF5630;
    }
